<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <h1>This is the home page.</h1>
    <h3> <%= 1 + 2 %> </h3>
    <h3> <%="apnacollege".toUpperCase() %> </h3>
    <h4><%=["hello", "bonjur", "namaste"][0] %>    </h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad iusto neque dolor doloribus in hic fugiat veritatis
        repudiandae beatae odit velit, molestias incidunt, mollitia voluptate soluta molestiae quia doloremque itaque?
        Recusandae soluta suscipit dolor nisi culpa, consectetur quia illum quibusdam natus nihil vero cum qui sunt
        eligendi aut ipsa adipisci minus consequatur blanditiis autem velit sint laborum quidem. Accusantium sed
        consequuntur deleniti dignissimos obcaecati? Totam deleniti aperiam eius, esse doloremque asperiores dolorum
        illum, reiciendis unde eum nesciunt quam beatae quia assumenda deserunt sint velit. Dicta corrupti, soluta
        quibusdam culpa excepturi amet doloremque ducimus illo dolorum temporibus voluptatem officia neque veritatis.
    </p>
    <button>click me!</button>
</body>

</html>