*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
 
}
html,
body{
  height:100%;
  width: 100%;
}
.parent{
  min-height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 30px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  
}
.card{
  height: 350px;
  width: 300px;
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}
.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  margin-bottom: 20px;
}

.top img{
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 1 px solid #dadada;
  padding: 2px;

}
.top button{
  display: flex;
  align-items: center;
}
.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 3px 6px;
  font-size: 15px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #8b8b8b;
}
.center{
  padding: 8px;
}

.center h3{
  font-size: 17px;
  font-weight: 500;
}
.center h3 span{
  font-size: 9px;
  font-weight: 400;
  color: #8b8b8b; 
}
.center h2{
  font-size: 20px;
  font-weight: 600;
}
.center .tag{
  display: flex;
  gap: 5px;
  margin-top: 10px;
}

.center .tag h4{
  font-size: 12px;
  background-color: #dadada;
  color: #111;
  padding: 4px 8px;
  border-radius: 3px;
  font-weight: 500;
}

.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid #d7d7d7;
  padding: 15px  10px;

}
.bottom button{
  background-color: black;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  column-width: 600;

}
.bottm h3{
  font-size: 17px;
}
.bottom p{
  font-size: 12px;
  color: #8b8b8b;
}
